<% provide(:title, 'Sign up') %>

<h1>New Users! Welcome. Sign Up Here!</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>

			<%= render 'shared/error_messages' %>
			
			<%= f.label :name, "이름" %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :email, "이메일" %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password, "비밀번호" %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation, "비밀번호 확인" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>

			<%= f.label :password_confirmation, "비밀번호 확인" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			
			<%= f.submit "가입하기", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
